<div class="container">
  <div class="description mt-5">
    <h1>Your recommendations</h1>
    <%# descriptions = @joys.map { |joy| joy.description } %>
    <%#<%= descriptions %>
  </div>

  <div class="home-grid mt-5 d-flex flex-wrap">
    <% @recommendations.each do |recommendation| %>
      <a href="<%= recommendation_path(recommendation.id) %>" class="card-reco">
        <div class="card-reco-body">
          <h3 class="card-title">
            <%= recommendation.created_at.strftime('%Y-%m-%d') %> Week
          </h3>
          <br>
          <div class="card-text">
            <p class="responsive-truncate"><%= recommendation.activity %></p>
              <% recommendation.rating.times do %>
                <i class="fas fa-star yellow-star"></i>
              <% end %>
            </p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
