<div class="container mt-4">
  <h1 class="text-center">🌻 Recommendation 🌻</h1>

  <div class="rec-stats mt-4">
    <h2>Weekly Breakdown</h2>
    <h5>Number of Joys 🌱: <strong><%= @joys.count %></strong></h5>
    <h5>Average Joy Rating: <strong><%= @ave_rating %></strong></h5>
  </div>

  <div class="rec-info mt-4">
    <h2>Activities to Try</h2>
    <% activities_string = @recommendation.activity %>
    <% activities = activities_string.split(/(?=\d\.\s)/) %> <!--- regex w/ pos. lookahead-->

    <% activities.each do |activity| %>
      <p><%= activity.strip %></p>
    <% end %>
  </div>

<%= link_to 'Previous Recs', recommendations_path %>
</div>
