<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for @joy do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your joy" %>
        <%= f.submit "Add your joy!" %>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <div class="container">
        <button type="submit" class="btn btn-submit btn-block mb-2 mb-md-0">Add your joy!</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <button type="submit" class="btn btn-inspire btn-block">Inspire me...</button>
      </div>
    </div>
  </div>

</div>
