<div>
  <a class="btn btn-ghost" href="/recommendations">Happy Friday! Your Weekly Reccomendations Are Ready!</a>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <%= render 'joys/joy_form' %>


      <div class="mt-4">
        <button type="submit" class="btn btn-inspire btn-block">Inspire me...</button>
      </div>
    </div>
  </div>
</div>

<%# adding line of comment code to fix revert %>
