<%# adding line of comment code to fix revert %>

<body class="body-homepage">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <div class="card-home">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4" data-controller="inspire-button">
          <div class="tooltip-container">
            <%= link_to '', class: 'btn-img-inspire', data: { inspire_button_target: 'content' }, 'data-action': 'click->inspire-button#toggleText' do %>
              <div class="icon-container">
                <%= image_tag 'rainbow.png', alt: 'Inspire Me', class: 'small-icon' %>
                <div class="tooltip">Inspire me!</div>
              </div>
            <% end %>
          </div>
          <h5 class="text-center mb-4 d-none" id="inspireText visible" data-inspire-button-target="text">
            <%= @random_prompt %>
          </h5>
          <%= render 'joys/joy_form' %>
        </div>
      </div>
    </div>
  </div>
</body class="homepage">


<%# adding line of comment code to fix revert %>

<%# 1 inspire per joy
at variable in pages/home method controller
@inspire = array 10 strings %>
<%# pe tag smapel from  vatriable

cycle:
inaspire btn = linkto refesh page
1 bt shows = messasge 2nd btn = rferedh page  %>
