<%# adding line of comment code to fix revert %>

<%# <div data-controller="weekly-button"> %>
  <%# <a class="btn btn-ghost" href="/recommendations">Happy Friday! Your Weekly Reccomendations Are Ready!</a> %>
  <%#<% if @button_triggered %>
    <%# <a class="btn btn-ghost" href="/recommendations" data-weekly-button-target="button" data-action="click->weekly-button#hideButton">Happy Friday! Your Weekly Recommendations Are Ready!</a> %>
  <%#<% end %>
<%# </div> %>


<body class="body-homepage">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <div class="card-home">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4" data-controller="inspire-button">
          <div class="tooltip-container">
            <div class="icon-container">
              <%= image_tag 'rainbow-icon.png', alt: 'Inspire Me', class: 'small-icon' %>
            </div>
            <%= link_to '', class: 'btn-img-inspire', data: { inspire_button_target: 'content' }, 'data-action': 'click->inspire-button#toggleText' do %>
              <div class="tooltip-inspire-me">Inspire me!</div>
            <% end %>
          </div>
          <div class="tooltip-container">
            <div class="icon-container">
              <p class="text-center d-none tooltip-prompt card-text" id="inspireText visible" data-inspire-button-target="text">
                <%= @random_prompt %>
              </p>
            </div>
          </div>
          <%= render 'joys/joy_form' %>
        </div>
      </div>
    </div>
  </div>
</body>

<%# code for the cookies are baking %>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> LOADING... </h5>
        <%# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> %>
      </div>
      <div class="modal-body">
        <%# 🥠 jk cookies are baking... 🥠 %>
        <strong>🥠 cookies are baking... 🥠</strong>
        <%# <button type="button" class="btn btn-info btn-lg btn-block disabled"> "LOADING... ahem I mean cookies are baking" </button> %>
      </div>
      <div class="modal-footer">
        <%# <button type="button" class="btn btn-secondary" data-dismiss="modal">-</button> %>
        <button type="button" class="btn btn-warning btn-lg btn-block disabled laod-btn-joyjot-rounded"> - JoyJot 🌻</button>
        <%# <button type="button" class="btn btn-warning btn-lg btn-block disabled"> - JoyJot</button> %>
      </div>
    </div>
  </div>
</div>






  <%# <div class="modal-dialog modal-lg">
    <div class="modal-content">
      'LOADING... ahem I mean cookies are baking' - JoyJot
    </div>
  </div> %>
<%# adding line of comment code to fix revert %>

<%# 1 inspire per joy
at variable in pages/home method controller
@inspire = array 10 strings %>
<%# pe tag smapel from  vatriable

cycle:
inaspire btn = linkto refesh page
1 bt shows = messasge 2nd btn = rferedh page  %>
