<div class="container" style="margin-bottom: 24px;">
  <% if @game.completed == true %>
    <div class="center-container">
      <h2>Game Completed!</h2>
      <%= link_to gamecards_path, class: "btn btn-submit" do %>
        <h4>See My Cards</h4>
      <% end %>
    </div>

  <% else %>
    <!-- display one gamecard image at random-->
    <img src="<%= @current_gamecard.image_url %>" class="mobile-friendly-image">

    <!-- for each of the 5 joys (each associated w/ a gamecard) in the game:
          1. the joy description that matches that of the shown image is coded as a link.
            update the @current_gamecard "solved" when link is clicked
            Reload page
          2. show the other joy descriptions, but only if the joy's gamecard is not solved -->
    <% @game.joys.each do |joy| %>
      <div class="joy-choice">
        <% if joy == @current_gamecard.joy  %>
          <%= link_to truncate(joy.description, length: 80, omission: "..."), correctanswer_path(:solved => true, :gamecard => @current_gamecard.id), class: "btn btn-gamechoice" %>
        <% end %>
        <% if !joy.gamecard.solved && joy != @current_gamecard.joy%>
          <%= link_to truncate(joy.description, length: 80, omission: "..."), "javascript:void(0);", class: "btn btn-gamechoice", data: {controller: "shaking", action: "click->shaking#shake"} %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
