// <%# adding line of comment code to fix revert %>


.btn-submit {
  color: #fff;
  border: 1px solid #9c94a4;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.8;
  transition: opacity 0.9s ease;
  background: #eca6af;
  font-weight: bold;
  align-content: middle;
}

.btn-submit:hover {
  opacity: 1;
  background: #ddb5dfcd;
  color: #fff;
}

.btn-inspire {
  color: #353337;
  border: 1px solid #9c94a4;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.8;
  transition: opacity 0.9s ease;
  background: #a6d1ec;
  font-weight: bold;
  margin: 10px;
}

.btn-inspire:hover {
  opacity: 1;
  background: #9dbad8;
  color: #1b171f;
}

.btn-back {
  color: #353337;
  border: 1px solid #9c94a4;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.8;
  transition: opacity 0.9s ease;
  background: #e1d2f2;
  font-weight: bold;
  margin: 15px 0;
}

.btn-back:hover {
  opacity: 1;
  background: #f0e4fa;
  color: #1b171f;
}

.button-container {
  position: absolute;
  bottom: 0;
  width: 100%; /* Occupy full width of the banner */
  display: flex;
  justify-content: center;
  padding: 20px;
}

.btn-reco {
  color: #fff;
  border: 1px solid #9c94a4;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.8;
  transition: opacity 0.9s ease;
  background: #eca6af;
  font-weight: bold;
  font-size: 14px;
  align-content: middle;
  animation: pulse 2s infinite;
}

.btn-reco:hover {
  background: #ddb5dfcd;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #ffff;
  font-weight: bolder;
  opacity: 1; /* Set it back to 1 on hover */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}


// <%# adding line of comment code to fix revert %>
