.btn-submit {
  color: #353337;
  border: 1px solid #897d97;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.8;
  transition: opacity 0.9s ease;
  background: #eca6af;
  font-weight: bold;
}

.btn-submit:hover {
  opacity: 1;
  background: #ddb5dfcd;
  color: #1b171f;
}

.btn-inspire {
  color: #353337;
  border: 1px solid #897d97;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.8;
  transition: opacity 0.9s ease;
  background: #a6d1ec;
  font-weight: bold;
}

.btn-inspire:hover {
  opacity: 1;
  background: #9dbad8;
  color: #1b171f;
}

.btn-back {
  color: #353337;
  border: 1px solid #897d97;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.8;
  transition: opacity 0.9s ease;
  background: #e1d2f2;
  font-weight: bold;
  margin: 15px 0;
}

.btn-back:hover {
  opacity: 1;
  background: #f0e4fa;
  color: #1b171f;
}
