.card-reco {
  border-radius: 10px;
  width: 550px;
  overflow: hidden;
  color: rgb(48, 46, 46);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease, filter 0.3s ease, background-color 0.3s ease; /* Include background-color transition */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffff;
  padding: 20px;
}

.card-reco:hover {
  background-color: #f2e1e8;
}


.card-reco-body {
  padding: 15px;
  font-size: 16px;
}

/*
.card-reco-img-top {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
*/

.card-reco-show {
  border-radius: 10px;
  width: 550px;
  overflow: hidden;
  color: rgb(48, 46, 46);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease, filter 0.3s ease, background-color 0.3s ease; /* Include background-color transition */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffff;
  padding: 20px;
}

a {
  text-decoration: none;
}
