html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

.footer {
  background: white;
  display: flex;
  // position: sticky;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  // height: 80px;
  color: rgba(0, 0, 0, 0.3);
  // margin-top: 30px;
  // padding: 10px 0;
  flex-shrink: 0
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 7px;
}

.footer-links a:hover {
  opacity: 1;
  color: #F791A9;
}

.footer-text {
  font-size: 14px;
}

.footer-content {
  display: flex;
  align-items: center;
}
