.rating {
  display: flex;
}

.rating label {
  font-size: 24px;
  cursor: pointer;
}

.rating label:before {
  content: "\2605";
}

.rating label input {
  display: none;
}

.rating label.selected:before {
  color: gold;
}
