/* Custom CSS for the rounded border search bar */
.rounded-border-search {
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  padding-left: 5px;
  background-color: white; /* Set background to white */
}

.rounded-border-search form {
  display: flex;
  flex: 1;
  background-color: white; /* Set background to white */
}
