// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "star-rating.js/dist/star-rating.css";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "components/buttons";
@import "components/banner";
@import "components/footer";
@import "components/cards";
@import "components/stars";
@import "components/searchbar";

// fonts
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Dancing+Script&family=Kablammo&family=Roboto:wght@300&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Dancing+Script&family=Indie+Flower&family=Kablammo&family=Roboto:wght@300&family=Satisfy&display=swap');

// common features

body {
  color: #675764;
}

h2 {
  text-align: center;
  font-size: 38px;
  color: #fd7897;
  position: relative;
  font-family: 'Cherry Bomb One', cursive;
  text-stroke: 0.7px #fcfcfc;
  -webkit-text-stroke: 0.7px #ffffff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 40px;
}

h3 {
  font-family: 'Comic Sans MS', cursive;
  color: white;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  position: relative;
  text-stroke: 0.1px #cbdbe6;
  -webkit-text-stroke: 0.1px #cbdbe6;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
}


h4 {
  font-family: 'Comic Sans MS', cursive;
  font-size: 20px;
  color: #675764;
}

h5 {
  font-family: 'Comic Sans MS', cursive;
  font-size: 20px;
  font-weight: bold; /* Added to make the text bolder */
  color: #7BAAD6;
  padding-bottom: 15px;
  text-align: center;
  position: relative; /* Added to position the line */
}

h5::after {
  content: "";
  display: block;
  width: 100%; /* Line width */
  height: 1px; /* Line height */
  background-color: #7BAAD6; /* Blue line color */
  position: absolute;
  bottom: 0;
  left: 0;
}



.date {
  text-align: right;
  color: #958893;
  font-style: italic;
  font-size: 14px;
}

.custom-placeholder-color::placeholder {
  color: #756873;
  font-style: italic;
  font-size: 15px;
}

/* Style for the entered text */
.custom-placeholder-color:not(:placeholder-shown) {
  color: black;
  font-style: normal;
}

/* Style for the inspiration message animation on homepage */
#inspire-prompt {
  opacity: 0; /* Initially set to invisible */
  transition: opacity 1.5s ease-in-out; /* Add a smooth transition */
}

/* Trigger the fade-in animation when the element becomes visible */
#inspireText.visible {
  opacity: 1;
}
