// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "star-rating.js/dist/star-rating.css";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "components/buttons";
@import "components/banner";
@import "components/footer";
@import "components/cards";
@import "components/stars";
@import "components/searchbar";
@import "components/mobile_image";

// fonts
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Kablammo&family=Roboto:wght@300&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Indie+Flower&family=Kablammo&family=Roboto:wght@300&family=Satisfy&display=swap');

// common features

body.body-homepage {
  background-color: #FFF2F8;
  background-image: none;
  color: #675764;
}

body {
  color: #675764;
  background-color: #FFF2F8;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('/assets/background.jpg');
  // background-size: cover; comment out so it looks better
}

h2 {
  text-align: center;
  font-size: 34px;
  color: #f791a9;
  position: relative;
  font-family: 'Cherry Bomb One', cursive;
  text-stroke: 0.9px #fcfcfc;
  -webkit-text-stroke: 0.9px #ffffff;
  text-shadow:
    1px 1px 4px rgba(0, 0, 0, 0.4),
    1px 1px 2px rgba(255, 255, 255, 0.5); /* Adjust the white shadow here */
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 20px;
}


h3 {
  font-family: 'Comic Sans MS', cursive;
  color: white;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  position: relative;
  text-stroke: 0.1px #cbdbe6;
  -webkit-text-stroke: 0.1px #cbdbe6;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
}


h4 {
  font-family: 'Comic Sans MS', cursive;
  font-size: 20px;
  color: #675764;
}

h5 {
  font-family: 'Comic Sans MS', cursive;
  font-size: 20px;
  font-weight: bold; /* Added to make the text bolder */
  color: #7BAAD6;
  padding-bottom: 15px;
  text-align: center;
  position: relative; /* Added to position the line */
}

h5::after {
  content: "";
  display: block;
  width: 100%; /* Line width */
  height: 1px; /* Line height */
  background-color: #7BAAD6; /* Blue line color */
  position: absolute;
  bottom: 0;
  left: 0;
}

.date {
  text-align: right;
  color: #958893;
  font-style: italic;
  font-size: 14px;
}

.custom-placeholder-color::placeholder {
  color: #756873;
  font-style: italic;
  font-size: 15px;
}

/* Style for the entered text */
.custom-placeholder-color:not(:placeholder-shown) {
  color: black;
  font-style: normal;
}

/* Style for the inspiration message animation on homepage */
#inspire-prompt {
  opacity: 0; /* Initially set to invisible */
  transition: opacity 1.5s ease-in-out; /* Add a smooth transition */
}

/* Trigger the fade-in animation when the element becomes visible */
#inspireText.visible {
  opacity: 1;
}

.joy-choice {
  margin-bottom: 8px;
}

/* app/assets/stylesheets/application.scss */
.text-link {
  color: inherit; /* Inherits the color from the parent element */
}

.custom-h2 {
  color: LemonChiffon;
  -webkit-text-stroke: 0.9px #f791a9;
  margin: 0;
}

.number {
  margin: 0 40px;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh; // 70% of viewport height
}


.icon-link {
  text-decoration: none;  /* Remove underline */
}

.icon-link:hover {
  color: inherit;         /* Inherit text color on hover */
  text-decoration: none; /* Remove underline on hover */
}
